# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv/
env/

# Banco de dados local
instance/
*.db
*.sqlite
*.sqlite3

# Backups
*.bak

# VS Code
.vscode/
!.vscode/launch.json

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Relatórios gerados
*.pdf
cantina_*.csv